<!--
Web App Name: Favourite Book List
Student Name: Davi Cavalcante de Carvalho
Student id# 301154671
June 22, 2021
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
