<!--
Web App Name: Favourite Book List
Student Name: Davi Cavalcante de Carvalho
Student id# 301154671
June 22, 2021
-->
<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h2>Welcome to my Favourite Books' List</h2>
        <img src="../../Assets/images/logo.svg" class="col-md-offset-2 pe-4 d-block img-fluid align-top">
      <hr class="my-4">
        <a class="btn btn-primary col-md-offset-3" href="/books" role="button">Click here to see my list</a>
      
      </div>
    </div>

<%- include('../partials/footer.ejs'); %>


